.header{
    font-size: 4rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 10px 5px 5px gray;;
}

.content{
    font-size: 1.3rem;
    color: gray;
}

.footer{
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}